$purple: hsl(259, 94%, 57%);
$light-red: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

/* || Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .error-class {
        color: red;
    }

    .error-input {
        border: 1px solid $light-red;
        outline: 1px sol $light-red;
    }


    .calculator {
        background: $white;
        width: 650px;
        height: 30rem;
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 1rem;
        border-bottom-right-radius: 10rem;

        input {
            width: 6rem;
            height: 3rem;
            padding: 0 1rem;
        }

        header {
            display: flex;
        }
    }

    #error {
        display: none;
    }

    .output {
        display: flex;
        align-items: center;

        div {
            hr {
                width: 30rem;
            }
        }

        div {
            img {
                background: $purple;
                padding: 1rem;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: $off-black;
                }
            }
        }
    }

    .outputs {
        padding-bottom: 3rem;

        div {
            font-size: 4rem;
            font-weight: 800;

            .date {
                color: $purple;
            }
        }
    }
}

.inputs {
    margin-right: 2rem;

    h3 {
        font-size: 1rem;
        color: $smokey-grey;
        margin-bottom: 5px;
    }

    input {
        border: 1px solid $smokey-grey;
        border-radius: 5px;
        color: $off-black;
        font-size: 1.5rem;
        font-weight: 600;

        &:hover,
        &:active {
            border: 1px solid $off-black;
            outline: 1px solid $off-black;

        }
    }
}

@media screen and (max-width: 700px) {
    body {
        .calculator {
            width: 15rem;
            height: 20rem;
            font-size: 1rem;
            border-bottom-right-radius: 30%;
            padding: 2rem 1rem 3rem 1rem;

            .outputs {
                div {
                    font-size: 2rem;
                }
            }

            input {
                width: 3rem;
                height: 1.8rem;
            }

            .inputs h3 {
                font-size: .8rem;
            }

            img {
                width: 2rem;
                height: 1rem;
                margin-left: -7rem;
            }

            .output {
                margin-top: 1rem;

                div {
                    hr {
                        width: 30vw;
                    }
                }
            }
        }
    }

}